h1 {
	text-align: center;
	background-color: white;
	border-radius: 5px;
	margin: auto;
	padding: 10px;
	max-width: 1000px;
}

h2 {

}

body {
	background-color: lightgrey;
}

.questions {
	background-color: white;
	border-radius: 10px;
	margin: auto;
	padding: 10px;
	max-width: 1000px;
}