body {
  background-color: slategrey;
}

h1 {
  color: skyblue;
  font-family: Geneva, sans-serif;
  margin: 25px;
  text-shadow: black 3px 5px;
}

h2 {
  color: skyblue;
  font-family: Geneva, sans-serif;
  margin: 25px;
  text-shadow: black 3px 5px;
}

h3 {
  background-image: url(./images/spaghettiandmeatballs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  width: 250px;
  border: 3px solid #000000;
  border-radius: 200px;
}

h4 {
  text-indent: 50px;
}

ul {
  background-color: skyblue;
  color: #130101;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
  float: left;
  width: 40%;
}

ol {
  background-color: skyblue;
  color: #130101;
  margin: 50px;
  text-transform: capitalize;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
  float: right;
  width: 40%;
}

p {
  text-indent: 10px;
  background-color: skyblue;
  color: #130101;
  margin: 50px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px black;
  clear: both;
}

a {
  text-align: center;
  display: block;
  clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.link:hover {
	color: red;
}